<h1>Listing messages</h1>

<table>
  <tr>
    <th>Smssid</th>
    <th>Accountsid</th>
    <th>From</th>
    <th>To</th>
    <th>Body</th>
    <th>Fromcity</th>
    <th>Fromstate</th>
    <th>Fromzip</th>
    <th>Fromcountry</th>
    <th>Tocity</th>
    <th>Tostate</th>
    <th>Tozip</th>
    <th>Tocountry</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.SmsSid %></td>
    <td><%=h message.AccountSid %></td>
    <td><%=h message.From %></td>
    <td><%=h message.To %></td>
    <td><%=h message.Body %></td>
    <td><%=h message.FromCity %></td>
    <td><%=h message.FromState %></td>
    <td><%=h message.FromZip %></td>
    <td><%=h message.FromCountry %></td>
    <td><%=h message.ToCity %></td>
    <td><%=h message.ToState %></td>
    <td><%=h message.ToZip %></td>
    <td><%=h message.ToCountry %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>